# CMake
cmake-build-*/


# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea
.vscode
docker
tmp*
test.*
htmlcov
smartutils.svg
.ariana/
.traces/
.ariana_saved_traces/
.vault_secret_key
__pycache__
.venv
.coverage
dist
.continue
*.log
coverage.xml
